@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 2
   
   Style Sheet for Grids used in the Costume Expressions Front Page
   Author: jeremiah ruiz
   Date:   9-26-19
   
   Filename: ce_grids.css

*/


/* Grid Rows Styles */
/* sets the class row to a width of 100 and clears both sides */
div.row{
   width: 100%;
   clear: both;
}
/* adds extra space with no content so the clumn doesnt collapse */
div.row{
   clear: both;
   content: "";
   display: table;
}


/* Grid Columns Styles */
/* sets all dic with their own class to the set width */
div[class^="column"]{
   float: left;
}
div.column100{
   width: 100%;
}
div.column50{
   width:50%;
}
div.column33{
   width: 33%;
}
div.column67{
   width:67%;
}
div.column25{
   width: 25%;
}
div.column75{
   width:75%;
}
div.column20{
   width:20%;
}
div.column40{
   width: 40%
}
div.column60{
   width:60%;
}
div.column80{
   width:80%;
}

/* Grid Spacing Styles */
/* sets all the elements that are selected to have a box border */
div.container, div[class^="column"], div.row,div.cell, div[class^="cell"], div a {
   box-sizing: border-box 
}
